*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
/* Hero Section  */
.container1{
    background-color:#e0ebe8;
    position: relative;
    padding: 100px 100px 0px;
}
.leftcloud{
    position:absolute;
    left:100px;
    top:250px
}
.rightcloud{
    position:absolute;
    right:100px;
    top: 200px
}
.centerland{
   margin-bottom: -4px;
}
.maintitle{
    font: italic 500 3.625rem 'Sacramento',cursive;
    color: #4ab19a;
}
.subtitle{
    color: #4ab19a;
    font-weight: 400;
    padding: 50px 0px 50px;
}
 /* About Section */
.container2, .container3, .container4{
    padding: 70px 0px 0px;
}
.mypic{
    width: 200px;
    padding-bottom: 20px;
}
.subheading{
    color: #4ab19a;
    font-weight: 500;
}
.description{
    padding: 20px 300px;
    font-size: 1rem;
    line-height: 2;
}
/* service section */
.mainheading{
    font-size: 2.5rem;
    color: #4ab19a;
    line-height: 2;
}
.container3{
    width: 70%;
    margin: auto;
}
.container3 h2, .container3 p{
    text-align: left;
    width: 100%;
    padding: 10px 0px;
}
.project1{
    width: 15%;
    float: left;
    margin-right: 40px;
}
.project2{
    width: 20%;
    float: right;
    margin-left: 40px;
}
.service2{
    margin-top: 70px;
}
/* Contact Section */
.container4{
    margin-bottom: 70px;
}
.button a{
    text-decoration: none;
    color:white;
   
}
.button{
    background-color: #4ab19a;
    padding: 10px 20px;
    width: 10%;
    margin: auto;
    cursor: pointer;
}